body {
    font-family: 'Montserrat';
    size: 12pt;
    font-weight: 300;
}
.topo {
    display: block;
    margin-left: 96px;
    margin-top: 0;
}
a{
    text-decoration: none;
}
.fenoLogo{
    display: inline-block;
    margin-left: 96px;
    font-size: 1em;
    color: #364959;
 }

h1 {
    font-family: 'Montserrat';
    font-weight: lighter;
    
}

.h1Bold {
    font-family: 'Montserrat';
    font-weight: bold;
}

hr{
    margin-left: 16px;
    margin-right: 16px;

}

#sidebar {
    background-color: #4bbf9e;
    float: left;
    width: 96px;
    height: 100%;
    position: fixed;

}

.conteudo{
    position: relative;
    margin-left: 96px;
}

:root{
    height: 100%;
}

.maindiv{
    background-color: blueviolet;
    margin-left: 96px;
}

.menuitem{
    color: #364959;
    padding-bottom: 25%;
    text-align: center;
    padding-top: 32px;
    vertical-align: center;
    align-items: center;
    
}
.menuitem:hover{
    background-color: #b0e0c0;
}
.menuitem a {
    color:#364959;
}

.mainContent {
    position: relative;
    margin-left: 96px;
    padding-left: 96px;
    background-color: rgb(142, 142, 142);
}

hr {
    background-color: #F3F3F3;
}